html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: var(--bg-color);
	color: var(--text-color);
	font-family: var(--font); 
}

header {
	display: flex;
	gap: 0.5rem;
	margin: .25em .3em;
}

header * {
	text-decoration: none;
}

header .logo {
	display: flex;
	gap: 0.5rem;
	color: var(--text-color);
}

header .logo h1 {
	font-size: 1.5rem;
	margin: 0;
}

nav {
	display: flex;
	width: 100%;
}

nav *:nth-child(2) {
	margin-right:auto;
}

footer {
	display: flex;
}

footer .themeChanger {
	display: flex;
	flex-direction: row;
	text-align: right;
	margin-left: auto;
}

#config {
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
}
.row {
	display: flex;
	background-color: var(--alt-color);
	border-radius: 0.5rem;
}

.time {
	display: flex;
	gap: 0.5rem;
}

.textButton {
	cursor: pointer;
	background: none;
	color: var(--untyped-color);
	transition: ease-in-out 0.25s;
	border: none;
	padding: 0.5rem;
}

.textButton:hover {
	color: var(--text-color);
	background: none;
}

.configButton {
	padding: 0.5rem;
	border: none;
	border-radius: 0.5rem;
}

.configButton:hover {
	background: none;
}

.configButton.active {
	color: var(--main-color);
	background: none;
}
.configButton.active:hover {
	background: none;
}

.configButton:first-child {
	margin-left: 1rem;
}

.configButton:last-child{
	margin-right: 1rem;
}

.languages {
	display: flex;
	justify-content: center;
}

.spacer {
	height: auto;
	width: .25rem;
	border-radius: 0.25rem;
	background: var(--bg-color);
	margin: 0.5rem 0;
}

.authpage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.pagelogin, .pageregister {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.title {
	color: var(--untyped-color);
}

.form {
	/*
	position: fixed;
	align-self: anchor-center;
	justify-self: anchor-center;
	*/

	display: flex;
	flex-direction: column;
}

.form form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

input, button { 
	border: none;
	border-radius: 0.5rem;
	background-color: var(--alt-color);
	color: var(--text-color);
	padding: 0.5rem;
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.5rem;
	transition: ease-in-out 0.25s;
	text-align: left;
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}

input[type='submit'], button {
	cursor: pointer;
	color: var(--text-color);
}

.forgotPassword {
	font-size: 0.75rem;
}

.app {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	height: 100%;

	padding: 2rem;
	gap: 2rem;
}

main {
	height: 100%;
}

.hidden {
	display: none;
}

#words {
	display: flex;
	flex-wrap: wrap;
	user-select: none;
	transition: 0.25s;
}

#words.blurred {
	filter: blur(4px);
	-webkit-filter: blur(4px);
}

#wordsInput {
	width: 1ch;
	font-size: 1em;
	height: 1em;
	opacity: 0;
	padding: 0;
	margin: 0 auto;
	border: none;
	outline: none;
	display: block;
	resize: none;
	position: absolute;
	z-index: -1;
	cursor: default;
	pointer-events: none;
	border-radius: 0;
}

#words .word {
	position: relative;
	line-height: 1em;
	margin: .25em .3em;
	border-bottom: 2px solid transparent;
}

#words .word letter {
	color: var(--untyped-color);
}

#words .word letter.correct {
	color: var(--correct-color);
}

#words .word letter.incorrect {
	color: var(--incorrect-color);
}

#caret {
	display: none;
#	display: block;
	position: absolute;
	height: 1.2em;
	width: .1em;
	background: yellow;
	animation: caretFlash 1s infinite;
}

@keyframes caretFlash {
	0%, to {
		opacity: 0;
	}
	50% {
		opacity: 1;

	}
}

.text {
}


.modalWrapper {
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalWrapper .modal {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 2rem;
	background: var(--bg-color);
	border: 2px solid var(--main-color);
	border-radius: 0.5rem;
	opacity: 1;
}

#commandLine .modal {
	padding: 0;
}

.modalWrapper .modal .suggestions > div {
	padding: 0.5rem 2rem;
	font-size: 0.75rem;
	line-height: 0.75rem;
	cursor: pointer;
	color: var(--untyped-color);
}

.modalWrapper .modal .suggestions > div:hover {
	background-color: var(--text-color);
	color: var(--alt-color);
}

.section {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.section .sectionBody {
	display: flex;
}

.section .title {
	font-size: 1rem;
	color: var(--main-color);
}
.section .sectionBody .inputs {
	margin-left: auto;
}

.section .sectionBody .buttons {
	display: flex;
	gap: 0.5rem;
}

button:hover {
	background-color: var(--text-color);
	color: var(--alt-color);
}

button.active {
	background-color: var(--main-color);
	color: var(--alt-color);
}

button.active:hover {
	background-color: var(--text-color);
}

input[type='submit']:hover {
	background-color: var(--text-color);
	color: var(--alt-color);
}

.leaderboardsPage {
	display: flex;
	gap: 2rem;
}

.leaderboardsPage .buttons {
	display: flex;
	background-color: var(--alt-color);
	border-radius: 0.5rem;
}

.leaderboardsPage .buttons .buttonGroup {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
}

.leaderboardsPage .table {
	width: 90%;
}

.leaderboardsPage .table table {
	width: 100%;
	border-spacing: 0;
}

.leaderboardsPage .table table thead {
	font-size: 0.75rem;
	color: var(--untyped-color);
}

.leaderboardsPage .table table thead td {
	position: sticky;
	top: 0px;
	z-index: 99;	
}

.leaderboardsPage .table table tbody {
	color: var(--text-color);
}

.leaderboardsPage .table table td {
	padding: 1em 1.5rem;	
	background-color: var(--alt-color);
}

.leaderboardsPage .table table td:first-child {
	border-radius: 0.5rem 0 0 0.5rem
}

.leaderboardsPage .table table td:last-child {
	border-radius: 0 0.5rem 0.5rem 0
}

.leaderboardsPage .table table .avatarName {
	width: 100%
}

.leaderboardsPage .table table .avatarName a {
	text-decoration: none;
	color: inherit;
}

.profile {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.profile .details {
	display: flex;
	background: var(--alt-color);
	border-radius: 0.5rem;
	padding: 1rem;
	gap: 1rem;
}

.profile .details .bio {
	display: flex;
	flex-direction: column;
}

.profile .details .bio .name {
	font-size: 1.5rem;
	color: var(--text-color);
}

.profile .details .bio .joined, .profile .details .description .title {
	font-size: 0.75rem;
	margin-top: 0.5rem;
	color: var(--untyped-color);
}

.profile .details .description .value {
	color: var(--text-color);
}

.profile .details .buttons {
	margin-left: auto;
	height: 100%
}

.profile .details .buttons .edit {
	height: inherit;
}

.profile .records {
	display: flex;
	background: var(--alt-color);
	border-radius: 0.5rem;
	padding: 1rem;
	gap: 1rem;
	justify-content: space-around;
}

.profile .records .group { 
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile .records .group .title {
	font-size: 0.8rem;
	color: var(--untyped-color);
}	

.profile .records .group .wpm {
	font-size: 2rem;
	color: var(--text-color);
}

.profile .records .group .acc {
	font-size: 1.5rem;
	color: var(--text-color);
	opacity: 0.75;
}	
