{% extends 'yariktype/base.html' %}

{% block content %}
<div class='section'>
        <div class='title'>Eng</div>
        <div class='sectionBody'>
                Hello adventurer. If you're on this page, you probably need some advice on how to use this tool of mine. I will fulfill your wish.
                Firstly on the main page you can see the heart of this tool - some random text. As you can guess (i hope so) you can type this text by using you keyboard.
                Above this text you can see little panel. Thats tool for setting up yout test. You can change time, current dictionary and even create your own.
                The main loop starts when you type first letter. In time you chosen yourself you must write as many letters as you can. Correct letters will be white and wrong will be red.
                After completing the test you will be presented with your results. If you already have an account this results will be saved and displayed on leaderboard.
                If not... go to register page and create an account you moron.
        </div>
</div>
<br>
<div class='section'>
        <div class='title'>Рус</div>
        <div class='sectionBody'>
                Привет! Если ты на этой странице, тебе, вероятно, нужна инструкция по использованию данного инструмента.
                Во-первых, на главной странице ты увидишь сердце этого инструмента — текст. Как ты уже догадался (надеюсь, догадался), ты можешь набирать этот текст с помощью клавиатуры.
                Над этим текстом ты можешь увидеть небольшую панель. Это инструмент для настройки теста. Ты можешь изменить время, текущий язык и даже создать свой собственный словарь.
                Основной цикл начинается, когда ты набираешь первую букву. За выбранное тобой время ты должен написать как можно больше букв. Правильные буквы будут белыми, а неправильные — красными.
                После завершения теста тебе будут показаны результаты. Если у тебя уже есть аккаунт, эти результаты будут сохранены и отображены в таблице лидеров.
                Если нет... перейди на страницу регистрации и создай аккаунт.
        </div>
</div>
{% endblock %}
